<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.firstapp.firebaseauthproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Personal Health Record"
        android:supportsRtl="true"
        android:theme="@style/Theme.FirebaseAuthProject"
        tools:replace="android:label">
        <activity android:name=".Vitals"></activity>
        <activity android:name=".Report" />
        <activity android:name=".Prescriptions" />
        <activity android:name=".History" />
        <activity android:name=".FloatingButton" />
        <activity android:name=".Searchable" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Feedback" />
        <activity android:name=".SugarLevel" />
        <activity android:name=".PillRem" />
        <activity android:name=".HealthCal" />
        <activity android:name=".BloodPressure" />
        <activity android:name=".BloodGroup">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".BMICal" />

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@mipmap/ic_launcher" />

        <activity android:name=".ProfileActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".About">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".SignUpActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>